In [37]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [38]:
# import
airports = pd.read_csv('airports.csv')
flights = pd.read_csv('flights.csv')

In [39]:
airports.head(10)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603

In [40]:
flights.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Q1 Find a list of Origin Airports
origin_airports = pd.Series(flights["ORIGIN_AIRPORT"].unique())
origin_airports

0        ANC
1        LAX
2        SFO
3        SEA
4        LAS
       ...
925    14222
926    14025
927    13502
928    15497
929    12265
Length: 930, dtype: object

In [42]:
#Q2 Find a list of (Origin, Destination) pairs
origin_destinations = flights[['ORIGIN_AIRPORT','DESTINATION_AIRPORT']].drop_duplicates()
origin_destinations

        ORIGIN_AIRPORT DESTINATION_AIRPORT
0                  ANC                 SEA
1                  LAX                 PBI
2                  SFO                 CLT
3                  LAX                 MIA
4                  SEA                 ANC
...                ...                 ...
5796607            GSP                 MIA
5799339            MIA                 OKC
5801064            LRD                 HRL
5802350            OKC                 MIA
5814476            CID                 LAX

[12377 rows x 2 columns]

In [43]:
#Q3 Find the Origin airport which had the largest departure delay in the month of January
flights_in_jan = flights[flights['MONTH'] == 1]
max_delay_flight = flights[flights['DEPARTURE_DELAY'] == flights_in_jan["DEPARTURE_DELAY"].max()]
max_delay_flight["ORIGIN_AIRPORT"]

337720    BHM
Name: ORIGIN_AIRPORT, dtype: object

In [44]:
#Q4 Find out which carrier has the largest delay on Weekends. 
flights_on_weekends = flights[flights['DAY_OF_WEEK'].isin([6,7])]
flight_on_weekend_with_largest_delay = flights_on_weekends[flights_on_weekends['DEPARTURE_DELAY'] == flights_on_weekends['DEPARTURE_DELAY'].max()]
flight_on_weekend_with_largest_delay['AIRLINE']

3412085    AA
Name: AIRLINE, dtype: object

In [45]:
#Q5 Which airport has the most cancellation of flights?
cancelled_flights = flights[flights['CANCELLED'] == 1]
destinations = cancelled_flights['DESTINATION_AIRPORT'].value_counts()
origins = cancelled_flights['ORIGIN_AIRPORT'].value_counts()
print(origins.nlargest(1))
print(destinations.nlargest(1))

ORD    8548
Name: ORIGIN_AIRPORT, dtype: int64
ORD    9273
Name: DESTINATION_AIRPORT, dtype: int64

In [46]:
#Q6 Find the percent of flights cancelled for each carrier.
cancelled_ratio = flights.groupby('AIRLINE').mean()['CANCELLED']
cancelled_ratio *= 100
cancelled_ratio

AIRLINE
AA    1.504028
AS    0.387779
B6    1.601210
DL    0.436589
EV    2.662869
F9    0.647320
HA    0.224198
MQ    5.099582
NK    1.707290
OO    1.692861
UA    1.274521
US    2.046650
VX    0.862640
WN    1.271382
Name: CANCELLED, dtype: float64

In [47]:
#Q7 Find the largest departure delay for each carrier
max_departure_delays = flights.groupby('AIRLINE').max()['DEPARTURE_DELAY']
max_departure_delays

AIRLINE
AA    1988.0
AS     963.0
B6    1006.0
DL    1289.0
EV    1274.0
F9    1112.0
HA    1433.0
MQ    1544.0
NK     836.0
OO    1378.0
UA    1314.0
US     759.0
VX     644.0
WN     665.0
Name: DEPARTURE_DELAY, dtype: float64

In [48]:
#Q8 Find the largest departure delay for each carrier for each month
for i in range(13):
    max_departure_delays = flights[flights['MONTH'] == i].groupby('AIRLINE').max()['DEPARTURE_DELAY']
    print('MONTH', i)
    print(max_departure_delays)

MONTH 0
Series([], Name: DEPARTURE_DELAY, dtype: float64)
MONTH 1
AIRLINE
AA    1988.0
AS     538.0
B6     500.0
DL    1184.0
EV     726.0
F9     696.0
HA    1003.0
MQ     780.0
NK     557.0
OO     931.0
UA     886.0
US     638.0
VX     397.0
WN     604.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 2
AIRLINE
AA    1587.0
AS     735.0
B6     942.0
DL    1159.0
EV     600.0
F9     852.0
HA    1433.0
MQ    1154.0
NK     546.0
OO     913.0
UA     858.0
US     536.0
VX     577.0
WN     506.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 3
AIRLINE
AA    1609.0
AS     868.0
B6     674.0
DL    1166.0
EV     583.0
F9    1112.0
HA     952.0
MQ     830.0
NK     745.0
OO     874.0
UA     649.0
US     726.0
VX     365.0
WN     629.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 4
AIRLINE
AA    1542.0
AS     812.0
B6     500.0
DL    1179.0
EV     757.0
F9     602.0
HA     865.0
MQ     973.0
NK     836.0
OO     878.0
UA    1314.0
US     522.0
VX     533.0
WN     498.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 5
AIRLINE
AA    1492.0
AS     612.0
B6     544.0
DL    1289.0
EV     730.0
F9     767.0
HA     326.0
MQ     956.0
NK     650.0
OO     852.0
UA    1102.0
US     711.0
VX     335.0
WN     628.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 6
AIRLINE
AA    1522.0
AS     963.0
B6     507.0
DL    1201.0
EV    1210.0
F9     813.0
HA     961.0
MQ    1098.0
NK     696.0
OO     938.0
UA     994.0
US     759.0
VX     644.0
WN     665.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 7
AIRLINE
AA    1625.0
AS     830.0
B6     450.0
DL    1125.0
EV     818.0
F9     793.0
HA     787.0
MQ     911.0
NK     383.0
OO     956.0
UA     824.0
VX     410.0
WN     560.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 8
AIRLINE
AA    1878.0
AS     514.0
B6     522.0
DL    1207.0
EV     762.0
F9     726.0
HA    1037.0
MQ    1171.0
NK     679.0
OO     907.0
UA     739.0
VX     441.0
WN     620.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 9
AIRLINE
AA    1670.0
AS     764.0
B6     480.0
DL    1103.0
EV    1000.0
F9     698.0
HA    1304.0
MQ    1083.0
NK     693.0
OO     893.0
UA     777.0
VX     331.0
WN     540.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 10
AIRLINE
AA    1573.0
AS     580.0
B6     577.0
DL    1120.0
EV     975.0
F9     550.0
HA    1022.0
MQ    1544.0
NK     545.0
OO    1122.0
UA    1037.0
VX     430.0
WN     621.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 11
AIRLINE
AA    1631.0
AS     634.0
B6     510.0
DL    1071.0
EV     993.0
F9     918.0
HA     691.0
MQ     931.0
NK     476.0
OO    1132.0
UA    1142.0
VX     288.0
WN     505.0
Name: DEPARTURE_DELAY, dtype: float64
MONTH 12
AIRLINE
AA    1649.0
AS     803.0
B6    1006.0
DL    1228.0
EV    1274.0
F9     781.0
HA    1095.0
MQ    1278.0
NK     723.0
OO    1378.0
UA    1194.0
VX     363.0
WN     562.0
Name: DEPARTURE_DELAY, dtype: float64

In [49]:
#Q9 For each carrier find the average Departure delay
average_departure_delay = flights.groupby('AIRLINE').mean()['DEPARTURE_DELAY']
average_departure_delay

AIRLINE
AA     8.900856
AS     1.785801
B6    11.514353
DL     7.369254
EV     8.715934
F9    13.350858
HA     0.485713
MQ    10.125188
NK    15.944766
OO     7.801104
UA    14.435441
US     6.141137
VX     9.022595
WN    10.581986
Name: DEPARTURE_DELAY, dtype: float64

In [50]:
#Q10 For each carrier find the average Departure delay for each month
for i in range(13):
    max_departure_delays = flights[flights['MONTH'] == i].groupby('AIRLINE').mean()['DEPARTURE_DELAY']
    print('MONTH', i)
    print(max_departure_delays)

MONTH 0
Series([], Name: DEPARTURE_DELAY, dtype: float64)
MONTH 1
AIRLINE
AA    10.593542
AS     3.178209
B6    10.035556
DL     5.904238
EV     9.752522
F9    17.984433
HA     1.310065
MQ    16.081207
NK    13.146294
OO    12.155157
UA    14.010359
US     5.197315
VX     6.910772
WN     9.514470
Name: DEPARTURE_DELAY, dtype: float64
MONTH 2
AIRLINE
AA    10.258853
AS     2.703814
B6    19.665223
DL    12.226444
EV    11.230904
F9    25.710005
HA     2.580506
MQ    18.600579
NK    16.958248
OO    10.954536
UA    14.907992
US     9.123066
VX    12.600540
WN     9.860234
Name: DEPARTURE_DELAY, dtype: float64
MONTH 3
AIRLINE
AA    11.086628
AS     3.063562
B6    15.173697
DL     8.443340
EV     8.892073
F9    20.011169
HA     0.824024
MQ    12.310134
NK    12.613168
OO     5.847798
UA    13.960860
US     5.955991
VX    10.592154
WN    10.132266
Name: DEPARTURE_DELAY, dtype: float64
MONTH 4
AIRLINE
AA    10.555278
AS     0.004242
B6     8.327439
DL     6.233455
EV     6.796096
F9    11.723183
HA    -2.216376
MQ     8.895925
NK     9.929518
OO     5.347865
UA    12.981619
US     4.508355
VX     5.653336
WN     8.817762
Name: DEPARTURE_DELAY, dtype: float64
MONTH 5
AIRLINE
AA    11.111628
AS    -0.197118
B6     7.033574
DL     7.488959
EV    10.087309
F9    11.230237
HA    -1.349720
MQ     9.553478
NK    23.607441
OO     6.018216
UA    14.702455
US     4.068512
VX    10.710334
WN    11.931228
Name: DEPARTURE_DELAY, dtype: float64
MONTH 6
AIRLINE
AA    14.182828
AS     1.940487
B6    11.430772
DL    10.877582
EV    15.235164
F9    19.115840
HA    -1.217039
MQ    13.159374
NK    36.161787
OO    10.162168
UA    24.401683
US     8.314896
VX     8.697825
WN    16.051663
Name: DEPARTURE_DELAY, dtype: float64
MONTH 7
AIRLINE
AA     9.721149
AS     2.561732
B6    11.296233
DL     8.270346
EV     9.052347
F9    13.837097
HA     0.709905
MQ     9.069211
NK    16.411926
OO     8.851216
UA    19.404981
VX     9.751020
WN    15.616419
Name: DEPARTURE_DELAY, dtype: float64
MONTH 8
AIRLINE
AA     9.357355
AS     3.668762
B6    14.604436
DL     7.746436
EV     7.785358
F9     8.849347
HA     4.819096
MQ     8.275043
NK    22.256118
OO     7.747202
UA    14.306113
VX     8.900653
WN    11.738553
Name: DEPARTURE_DELAY, dtype: float64
MONTH 9
AIRLINE
AA    4.966657
AS    0.232842
B6    7.777772
DL    3.514294
EV    3.585172
F9    5.095135
HA    2.096527
MQ    4.605790
NK    9.673310
OO    3.865352
UA    7.451806
VX    3.292963
WN    5.380072
Name: DEPARTURE_DELAY, dtype: float64
MONTH 10
AIRLINE
AA    5.313371
AS   -0.088378
B6    8.036857
DL    3.215743
EV    4.631744
F9    4.031030
HA    0.168379
MQ    3.457587
NK    8.284940
OO    3.650551
UA    7.381777
VX    7.083257
WN    6.052322
Name: DEPARTURE_DELAY, dtype: float64
MONTH 11
AIRLINE
AA     6.446925
AS     1.707435
B6     7.108177
DL     4.537665
EV     7.140405
F9    11.658947
HA    -1.725914
MQ     7.203864
NK     8.645633
OO     6.818505
UA    11.242923
VX     5.780515
WN     7.865229
Name: DEPARTURE_DELAY, dtype: float64
MONTH 12
AIRLINE
AA     9.118865
AS     2.593559
B6    18.069931
DL    10.521536
EV     9.979379
F9    16.052114
HA    -0.442864
MQ     7.081245
NK    14.324438
OO    12.790967
UA    17.828867
VX    18.362113
WN    12.939948
Name: DEPARTURE_DELAY, dtype: float64

In [33]:
#Q11 Which date of year has the highest rate  of flight cancellations?
# Rate of flight cancellation is calculated by deviding number of canceled flights by total number of flights.
date_flight_cancelled = flights.groupby(['MONTH','DAY']).mean()['CANCELLED']
date_flight_cancelled.nlargest(1)

MONTH  DAY
1      27     0.1903
Name: CANCELLED, dtype: float64

In [35]:
#Q12 Calculate the number of flights to each destination state
# For each carrier, for which state do they have the largest average delay? 
# You will need the airline and airport data sets for this question.