In [3]:
import pandas as pd
import numpy as np

In [4]:
file1 = open("codeassist-logs.txt", "r")

t = []
length = 0
outcome = {}
for line in file1:
    line = line.split("- -")
    #print(line[0])
    outcome[line[0]] = []
    line = line[1].split("?")
    line = line[1].split()
    line = line[0].split("&")
    t.append(line)
    #print(line)
    length+=1
file1.close()
for i in t:
    if len(i) < 6:
        while len(i) < 6:
            i.append('N/A')

for i in t:
    tp = i[:]
    for j in tp:
    #print(i)
        j = j.split("=")
        if len(j)>1:
        #.remove(i[0])
        #print(i)
            i.append(j[1])
        else:
            i.append(j)
for i in t:
    i.remove(i[0])
    i.remove(i[0])
    i.remove(i[0])
    i.remove(i[0])
    i.remove(i[0])
    i.remove(i[0])

In [5]:
count = 0 
file1 = open("codeassist-logs.txt", "r")
lines = file1.readlines()
#print(lines[20])
while count <= len(t)-1:
    lines[count] = lines[count].split("- -")
    t[count].append(lines[count][0])
    count+=1


file1.close()

In [6]:
file1 = open("codeassist-logs.txt", "r")
for line in file1:
    line = line.split(" - - ")
    line[1] = line[1].split(" ")
    line[1][0] = line[1][0][1:]
    #line[1][0].remove("[")
    #print(line[1][0])
    
count = 0 
file1 = open("codeassist-logs.txt", "r")
lines = file1.readlines()
#print(lines[20])
while count <= len(t)-1:
    lines[count] = lines[count].split("- -")
    #print(lines[count][1])
    lines[count][1] = lines[count][1].split(" ")
    #print(lines[count][1])
    lines[count][1][1] = lines[count][1][1][1:]
    #print(lines[count][1][1])
    t[count].append(lines[count][1][1])
    count+=1

In [38]:
df = pd.DataFrame([i for i in t],columns = ['Username', 'Course', 'Lang', 'Nr', 'Feedback', 'complieCheck', 'IP Address', "Login time"])
df = df[df['Course'].str.contains('cs')]
df

,Username,Course,Lang,Nr,Feedback,complieCheck,IP Address,Login time
0,tschurder0518,cs665,Java,Assignment-4,spotbugs,yes,136.32.43.68,19/Apr/2021:17:09:37
1,gchriswill,cs665,Java,Assignment-2,spotbugs,yes,70.120.122.28,19/Apr/2021:18:17:36
2,gchriswill,cs665,Java,Assignment-2,spotbugs,"yes""",70.120.122.28,19/Apr/2021:18:17:37
3,gchriswill,cs665,Java,Assignment-2,spotbugs,yes,70.120.122.28,19/Apr/2021:18:29:32
4,gchriswill,cs665,Java,Assignment-2,stylegoogle,yes,70.120.122.28,19/Apr/2021:18:29:51
...,...,...,...,...,...,...,...,...
896,gchriswill,cs665,Java,assignment-project,spotbugs,yes,100.17.19.135,01/May/2021:22:40:26
897,kecarr9,cs665,Java,assignment-project,spotbugs,yes,100.17.19.135,01/May/2021:22:50:30
898,kaihu-cs,cs665,Java,assignment-project,spotbugs,yes,100.17.19.135,01/May/2021:22:51:14
899,darkhosh,cs665,Java,assignment-project,spotbugs,yes,100.17.19.135,02/May/2021:11:00:31
900,darkhosh,cs665,Java,assignment-project,tests,yes,100.17.19.135,02/May/2021:11:00:47

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 884 entries, 0 to 900
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Username      884 non-null    object
 1   Course        884 non-null    object
 2   Lang          884 non-null    object
 3   Nr            884 non-null    object
 4   Feedback      884 non-null    object
 5   complieCheck  884 non-null    object
 6   IP Address    884 non-null    object
 7   Login time    884 non-null    object
dtypes: object(8)
memory usage: 62.2+ KB

In [10]:
# add date and time.


# Q1: What is the submission count of each user per assignment? 
groups = df.groupby(['Username', 'Nr']).count()['Feedback']
groups

Username          Nr
                  Assignment-1           5
                  Assignment-3           2
                  Assignment-4           1
IndiraSomavarapu  Assignment-6          12
                  assignment-project    13
                                        ..
wruoting          assignment-project     8
xianghuang1993    Assignment-6           4
                  assignment-project     6
yakidzoba         Assignment-6          13
                  assignment-project    20
Name: Feedback, Length: 77, dtype: int64

In [33]:
# Q2: What is the max submission count? (separated by assignment)
df2 = df.groupby(['Username','Nr']).count()['Feedback']
df2_1 = pd.DataFrame(df2)
df2_1[df2_1['Feedback'] == df2.max()]

                               Feedback
Username         Nr
SheenaShahangian Assignment-6        48

In [46]:
# Q3: What is the average of submission count? (separated by assignment)
df3 = df.groupby(['Nr']).count()['Feedback']
df3_1 = pd.DataFrame(df3)
df3_1['Feedback']/len(df['Username'].unique())

Nr
Assignment-1           1.648649
Assignment-2           0.189189
Assignment-3           0.486486
Assignment-4           0.486486
Assignment-6           8.081081
assignment-project    13.000000
Name: Feedback, dtype: float64

In [50]:
# Q4: What is the median of submission count?(separated by assignment)
df4 = df.groupby(['Username','Nr']).count()['Feedback']
df4_1 = pd.DataFrame(df4)
df4_1.groupby(['Nr']).median()

                    Feedback
Nr
Assignment-1             5.0
Assignment-2             7.0
Assignment-3             2.0
Assignment-4             2.0
Assignment-6             8.5
assignment-project      14.0

In [51]:
# Q5: What is the most asked submission type? (build, test)
groups = df[df['Nr'] != None]
feedbacks = groups['Feedback'].value_counts()
print(submissions.nlargest(1))

uml    250
Name: Feedback, dtype: int64

In [55]:
# Q6: How many submissions need compile check?
len(df[df['complieCheck'] == 'yes'])

636

In [ ]:

# Mathplotlib 

# Add Visualizations and Graphs

# A Bar Plot that shows the submission number per day.

# A histogram that shows the distribution of submissions per assignments per user

In [ ]:
# Add your own question ideas